<div class="beerPartial">
        {{#if image_url}}
        <img src="{{image_url}}" alt="{{name}}">
        {{/if}}
        <a href="/beer/{{id}}">
                <h2>{{name}}</h2>
        </a>
        <p class="tagLine">{{tagline}}</p>
        <p>{{description}}</p>
        
</div>
       
      
               
     